data/input/raw/*
data/input/manipulated/*
data/input/raw/.DS_Store
data/input/.DS_Store
data/output/raw/*
data/output/manipulated/*
data/output/.DS_Store/*
data/manipulated/raw/*
data/manipulated/.DS_Store
src/__pycache__
src/.DS_Store
.idea
__pycache__
venv/*
data/.DS_Store
.DS_Store
PBS_ob.pbs
